@import  "ReusableComponents";

//LandingPage.js
#landing-page-main-div{
@include display-main-par();
align-items: center;
flex-direction: column;
margin: 55px;
}
#summary-title-landing-page-div{
    text-align: center;
    border:outset 4px $blue-border;
    background-color: $blue-div-color;
    padding: 15px;

}
#title-landing-page{
font-size: 35px;
font-family: $gentium;
color:$blue-text;
}

#summary-landing-page-p{
text-align: center;
font-family: $gentium;
font-size: 25px;
font-weight: 200;
color:$blue-text;
}

//Author.js

#author-div{
    @include display-main-par();
}
#author-name-h1
#bio-and-photo-div
#bio-p
#data-and-society-link
#author-photo
#author-contacts-ul
.author-contacts-li
.author-contacts-links
