//colors and fonts

$rokkitt: 'Rokkitt', serif;
$cinzel: 'Cinzel', serif;
$alef: 'Alef', sans-serif;
$gentium: 'Gentium Book Basic', serif;
$ibm: 'IBM Plex Mono', monospace;
$cousine: 'Cousine', monospace;
